body {
    background-color: black;
}

/* fonts start */
@font-face {
    font-family: 'magnificent';
    src: url('/fonts/Magnificent\ Serif.ttf');
}

.magnificent {
    font-family: 'magnificent';
}
/* fonts end */

/* nav styling start */

/* nav spiderweb icon */
.nav-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: -webkit-fill-available;
}

.nav-title {
    z-index: 2;
}
/* nav styling end */