body {
    background-color: black;
}

/* fonts start */
@font-face {
    font-family: 'magnificent';
    src: url('/fonts/Magnificent\ Serif.ttf');
}

.magnificent {
    font-family: 'magnificent';
}
/* fonts end */

/* nav styling start */

/* nav spiderweb icon */
.nav-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: -webkit-fill-available;
}

.nav-title {
    z-index: 2;
}
/* nav styling end */

/* neon title styling start*/
.neon {
    font-weight: 400;
    color: #fff;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neon span {
    animation: flicker 2030ms linear infinite;
}

.neon .delay1 {
    animation-delay: 0.3s;
}

.neon .delay2 {
    animation-delay: 0.7s;
}

.neon .delay3 {
    animation-delay: 1.2s;
}

.neon .delay4 {
    animation-delay: 1.7s;
}

@keyframes flicker {
    0%{opacity: 0.2;}
    20%{opacity: 1;}
    50%{opacity: 0.2;}
    60%{opacity: 1;}
    70%{opacity: 0.2;}
    100%{opacity: 1;}
}
/* neon title styling end */