body {
    background-color: black;
}

/* nav styling start */

/* nav spiderweb icon */
.nav-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: -webkit-fill-available;
}

.nav-title {
    z-index: 2;
}
/* nav styling end */